@charset "UTF-8";
@keyframes animation {
    from{
        background-position: 0 50%;
    }
    to{
        background-position: 100% 50%;
    }
}

body{
    justify-content: center;
    place-items: center;
    animation: animation 5s ease alternate infinite;
    background: 
    linear-gradient(-40deg, black, darkred, goldenrod, rgb(253, 95, 3)), no-repeat;
    background-size: 300% 300%;
}
header{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
nav{
    
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
}
nav > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 30px;
    border-color: rgba(255, 235, 205, 0);
}
nav a:hover {
    border: 2px solid rgba(253, 6, 6, 0.192);
    border-radius: 8%;
    transform: (-5px, -5px);
    box-shadow: 7px 7px 15px black;
    transition: 1s, border 1s;

}
main {
    padding: 10px;
    margin: 145px;

}
article{
    text-align: center;
    text-decoration: underline solid;
    text-shadow: 3px 3px 10px rgba(224, 217, 175, 0.952);

}
footer{
    
    color: black;
    text-align: end;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
 a {
    color: inherit; 
}

